:root {
    --text-100-color: #f1f1f1;
    --text-200-color: #a7a7a7;

    --primary-100-color: #191919;

    --secondary-100-color: #242424;

    --accent-100-color: #9786a0;

    --background-100-color: #0c0e10;
}
